h1 {
    color: crimson;
    font-family: sans-serif;
    margin: 0px 0px 15px 0px;
}

h2 {
    color: crimson;
    font-family: sans-serif;
    border-bottom: 4px dotted crimson;
}

h3 {
    color: crimson;
    font-family: sans-serif;
}

a {
    color: crimson;
}

.overview {
    font-style: italic;
}

header {
    background-color: #eee;
    padding: 10px 10px  10px 10px;
    border-bottom: 1px solid silver;
}

main {
    padding: 10px 10px  10px 10px;
}

footer {
    background-color: #eee;
    padding: 10px 10px  10px 10px;
    border-top: 1px solid silver;
}

footer h3 {
    margin: 0px;
}

.numbers-box {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: white;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.color-box-1 {
    background-color: yellowgreen;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.color-box-2 {
    background-color: orange;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.color-box-3 {
    background-color: skyblue;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.color-box-4 {
    background-color: violet;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#profile-pic {
    height: 200px;
    background-color: white;
    border: 2px solid silver;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

#joke {
    width: 50%;
    border: 2px solid silver;
    border-bottom: 4px solid crimson;
    padding: 10px;
    margin: 0 auto;

}

table, td, th {
    border: 1px solid;
    padding-left: 10px;
    padding-right: 15px;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
  }

  .nav-list {
      list-style-type: none;
      padding: 0;
  }

 .nav-list li {
     display: inline;
     margin-right: .5em;
 }

 footer li img {
     width: 16px;
     padding-right: 5px;
 }